@import "tailwindcss";

/* Aquí podés definir tus variables de tema si lo necesitás, 
   en lugar de usar el tailwind.config.js */
@theme {
  --color-brand-primary: #3b82f6;
  --color-brand-secondary: #10b981;
}